<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Resultados de la prediccion de imagen</title>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
        id="bootstrap-css" />
    {% load bootstrap4 %} {% bootstrap_css %} {% load static %}
    <link rel="stylesheet" href="{% static 'css/resultado.css' %}" />
    <link rel="stylesheet" href="{% static 'css/modal_succ.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/papaya.css' %}" />
    <script type="text/javascript" src="{% static 'js/build/papaya.js' %}"></script>
    <script type="text/javascript">
        var params = [];
        params["worldSpace"] = true;
        params["images"] = ["{% static 'js/build/data/3023.nii.gz' %}"];
        // params["surfaces"] = ["data/mySurface.surf.gii"];
        params["{% static 'js/build/data/3023.nii.gz' %}"] = { min: 4, max: 10 };
    </script>
</head>

<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <div style="background-color: #1190cf; color: white">
                <p>Hola Médico</p>
            </div>
            <div class="fadeIn first" row>
                <div>
                    <label for="">Resultados del diagnóstico</label>
                </div>
                <div>
                    <img src="{% static 'images/cerebro.png' %}" id="icon" alt="User Icon" />
                </div>
            </div>

            <form method="POST">
                <!-- action="{% url 'Prediccion:guardarPrediccion' %}" -->
                <div class="container">
                    {% csrf_token %}
                    <div class="row">
                        {% if user.is_authenticated %}
                        <div class="form-group col-6 d-flex flex-column">
                            <div class="align-self-start">
                                <label for="nombreImagen">Nombre de la imagen:</label>
                            </div>
                            {% for img in imagen %}
                            <div class="">
                                <input type="text" id="imagenPaciente" name="Imagen de Paciente" value="{{img.title}}"
                                    readonly />
                            </div>

                            <div class="form-group" id="resultado">
                                <input type="hidden" name="id" value={{img.id}}>
                                <div class="">
                                    <label for="Resultado">Resultado:
                                    </label>
                                </div>
                                <div class="form-group">
                                    <textarea name="resultados" rows="5" cols="40"
                                        readonly>{{img.description}}</textarea>
                                </div>

                            </div>
                            {% endfor %}
                            <div class="form-group d-flex justify-content-around" id="btnAceptar">
                                <div>
                                    <!-- <a href="#ModalAceptar" role="button" class="btn btn-success btn-large btn-primary"
                                        data-toggle="modal">Aceptar
                                        Pronóstico</a> -->
                                    <button type="submit"
                                        onclick="location.href='{% url 'Prediccion:guardarPrediccion' %}?name=aceptaR'"
                                        name=" aceptaR" class="btn btn-success btn-large btn-primary">
                                        Aceptar Pronóstico
                                    </button>

                                </div>
                                <div>
                                    <!-- <a href="#ModalRechazar" role="button" class="btn btn-danger btn-large btn-primary"
                                        data-toggle="modal">Rechazar
                                        Pronóstico</a> -->
                                    <button type="submit"
                                        onclick="location.href='{% url 'Prediccion:verResultadoAprobar' %}?name=rechazaR'"
                                        name="rechazaR" class="btn btn-danger btn-large btn-primary">

                                        Rechazar Pronóstico
                                    </button>
                                </div>
                            </div>
                        </div>
                        {% endif %}

                        <!-- aqui va el graficado -->
                        <div class="form-group col-6">
                            <img class="col-11 papaya" src="{% static 'images/gradcam.PNG' %}" id="icon"
                                alt="User Icon" />
                            <!--div  data-params="params" style="height: 100%" -->
                        </div>
                    </div>
                </div>
        </div>
        </form>
    </div>
    </div>
</body>
{% bootstrap_javascript jquery='full' %}
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</html>

<!-- modales -->
<div class="container">
    <div class="row">
        <!-- ModalAceptar -->
        <div id="ModalAceptar" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title">Resultado</h4>
                    </div>
                    <div class="modal-body">
                        <p>¿Seguro que quiere aceptar el pronostico?</p>
                        <!-- <p class="text-warning"><small>Si lo borras, nunca podrás recuperarlo.</small></p> -->
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" data-toggle="modal" href="#modalExito">
                            Si
                        </button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">
                            No
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div id="ModalRechazar" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title">Resultado</h4>
                    </div>
                    <div class="modal-body">
                        <p>¿Seguro que quiere rechazar el pronostico?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-toggle="modal" href="#modalRechazo">
                            Si
                        </button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">
                            No
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- <a class="btn btn-primary" data-toggle="modal" href="#modalExito">Exito</a> -->
        <div class="modal fade" id="modalExito" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="">
                            <span>×</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <div class="thank-you-pop">
                            <img src="{% static 'images/exito.png' %}" alt="" />
                            <h1>Prediccion Aprobada</h1>
                            <!-- <p>Your submission is received and we will contact you soon</p>
                            <h3 class="cupon-pop">Your Id: <span>12345</span></h3> -->
                            <button type="button" class="btn btn-success">OK</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modalRechazo" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="">
                            <span>×</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <div class="thank-you-pop">
                            <img src="{% static 'images/rechazo.png' %}" alt="" />
                            <h1>Prediccion Rechazada</h1>
                            <!-- <p>Your submission is received and we will contact you soon</p>
                            <h3 class="cupon-pop">Your Id: <span>12345</span></h3> -->
                            <button type="button" class="btn btn-danger">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>