<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
        id="bootstrap-css" />
    {% load bootstrap4 %} {% bootstrap_css %} {% load static %}
    <link rel="stylesheet" href="{% static 'css/stylelogin.css' %}" />
</head>

<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <div class="fadeIn first">
                <img src="{% static 'images/cerebro.png' %}" id="icon" alt="User Icon" />
            </div>

            <!-- Login Form -->
            <!-- method="POST" -->
            <form action="{% url 'Imagen:cargarImagen' %}">
                <input type="text" id="login" class="fadeIn second" name="login" placeholder="login" />
                <input type="password" id="password" class="fadeIn third" name="password" placeholder="password" />

                <button class="btn btn-lg btn-primary btn-block" type="submit">
                    Iniciar Sesión
                </button>
            </form>
            <div id="formFooter">
                <a class="underlineHover" href="#">Olvide la contrasenia</a>
            </div>
            <div>
                <a class="nav-link" href="{% url 'users:register' %}">Registrarse</a>
            </div>
            {% if form.errors %}
            {% for field in form %}
            {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</body>
{% bootstrap_javascript jquery='full' %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</html>