<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!------ Include the above in your HEAD tag ---------->
    <!-- <link rel="stylesheet" href="../../css/style_cargar.css"> -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
        id="bootstrap-css">
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% load static %}
    <script type="text/javascript" src="{% static 'js/build/papaya.js' %}"></script>

</head>

<body>


    <div class="wrapper fadeInDown d-flex justify-content-center align-items-center container">
        <div id="formContent">

            <div style="background-color:#1190cf ; color: white;">
                <p>Hola Medico</p>
            </div>
            <div class=" fadeIn first">
                <!-- <img src="../../images/cerebro.png" id="icon" alt="User Icon" /> -->
                <img src="{% static 'images/cerebro.png' %}" id="icon" alt="User Icon" />

            </div>

            <div class="row justify-content-center align-items-center">
                <form>
                    <label for="textoComentario" style="color: blue;">Ingrese el motivo por el cual acepto el
                        diagnostico (Opcional)</label>

                    <div class="col-8">
                        <textarea class="form-group" name="motivoA" id="textoComentario" rows="5" cols="30"></textarea>
                    </div>
                    <div class="col -8">
                        <a href="#" role="button" class="btn btn-submit btn-large btn-primary">Enviar</a>
                    </div>
                </form>

            </div>


        </div>
    </div>

</body>
{% bootstrap_javascript jquery='full' %}

<script src=" https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


</html>